<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Analytics Content Experiment code -->

    <!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Course Page</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
  </head>

<body data-spy="scroll" data-target=".navbar-example">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" id="" href="./homepage"><img class="logo_small" src="img/logo_small.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./homepage">My Classes</a></li>
            <li><a href="./my-profile">My Profile </a></li>
            <li><a href="./help">Help</a></li>
             <li><a href="./logout">Sign out</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

            <nav id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
       
      <div class="container-fluid">
      
     <!-- Classes Header -->
        <div class="navbar-header">
         <center> <p class="navbar-text"> <b>{{classInfo.courseName}} - {{classInfo.className}} ({{classInfo.sectionID}}) </b></p></center>

          
         
        </div>
        
    <!-- End Classes Header -->
    

    <!-- End Classes List -->
      </div>
    </nav> 

 <div class="container">



  <ul class="nav nav-tabs">
    <li class="active"><a href="#classMates" data-toggle="tab">All</a></li>
      <li><a href="#groupMates" data-toggle="tab" >Groupmates</a></li>
  </ul>
<div class="tab-content">
  <div id="classMates"  class="tab-pane active"> 
        <!-- End Nav Bar Class -->
        <div class="input">
        <input id="filter" type="text" class="form-control" placeholder="Filter Students">
      </div><br>
        <!-- Classes Info Class -->
          <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example fixed-box">
          <!-- Content for classes -->

       
          <table class="table classmates table-striped">
            <thead>
              <tr <tr class="btn-primary">
                <th>Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each students}}
              <tr id='{{id}}'>
                <td class="clickable"><img src='{{imageURL}}' height="60px" width="60px" class="img-circle"></td>
                <td class="clickable">{{firstName}}</td>
                <td class="clickable">{{lastName}}</td>
                <td class="invite-button">
                  {{#if clickable}}
                  <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#myModal{{firstName}}{{lastName}}"> <span class="glyphicon glyphicon-plus"> </span> Group </button> 
                  <br><br>
                   <button type="button" class="btn btn-success grid-clickable" data-toggle="modal" > <span class="glyphicon glyphicon-user"> </span> Profile</button> 

                    <!-- Modal -->
                    <div class="modal fade" id="myModal{{firstName}}{{lastName}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Groupmate Invite</h4>
                          </div>
                          <div class="modal-body">
                      
                            <div>   
                        <b>    Are you sure you want to invite {{firstName}} {{lastName}} to your group? </b>
                      </div>
                      <br>
                            <img src='{{imageURL}}' height="100px" width="100px" class="img-circle" style="text-align:center;">
                           </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success invite" data-dismiss="modal">Yes!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
           

        </div>
          <!-- End content for classes -->
    </div>
    <br><br>
    <div id="groupMates" class="tab-pane">
          <table class="table table-striped" id="groupmatestable">
            <thead>
              <tr class="btn-primary">
                <th>Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody> 
              <tr id='{{user.id}}'>
                <td class="clickable first"><img src='{{user.imageURL}}' height="75px" width="75px" class="img-circle"></td>
                <td class="clickable first">{{user.firstName}}</td>
                <td class="clickable first">{{user.lastName}}</td>
            </tbody>
          </table>

    </div> 
    
      
  </div>

</div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>
  <script src="js/initializeClass.js"></script>


</body>

</html>