<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
  </head>

<body data-spy="scroll" data-target=".navbar-example">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" id="" href="./homepage"><img class="logo_small" src="img/logo_small.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="./homepage">My Classes</a></li>
            <li class="active"><a href="./my-profile">My Profile</a></li>
            <li><a href="./help">Help</a></li>
             <li><a href="./logout">Sign out</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
            <nav id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
       
      <div class="container-fluid">
      
     <!-- Classes Header -->
        <div class="navbar-header">
         <center> <p class="navbar-text"> <b>{{info.firstName}} {{info.lastName}} </b></p></center>

          
         
        </div>
        
    <!-- End Classes Header -->
    

    <!-- End Classes List -->
      </div>
    </nav>
 <div class="container">
   


  <div id="profile-container">
<!DOCTYPE HTML><html><body>


</body></html>

    <div id="profile-image">
      <img src={{info.imageURL}} class="profile-pic" class="img-rounded">
      <button type="button" class="btn btn-primary change"><span class="glyphicon glyphicon-pencil"></span></button>
          <div class="editPhoto"> 
            <br>
    <form method='post' action='/upload' enctype='multipart/form-data'>
        <input type='file' name='image'/ class="toggle-picture"> <input type='submit' class='btn btn-primary toggle-picture' />
    </form>
  </div>
    </div>

    <br>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#contact" data-toggle="tab">Contact</a></li>
  		<li><a href="#enrolledClasses" data-toggle="tab">My Classes</a></li>
	</ul>

<div class = "tab-content">	
    <div class="tab-pane active" id="contact">
      <h4><span class="glyphicon glyphicon-user"></span> Contact</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>Name</td>
            <td id="profile-name"> {{info.firstName}} {{info.lastName}}
              <div class="togglename"> 
                <form class="form-group">
                  <label class="control-label">Update Name:</label>
                  <br>
                  <input type="text" id="firstname" class="form-control" placeholder="First Name" required>
                  <br>
                  <input type="text" id="lastname" class="form-control" placeholder="Last Name" required>
                  <br>
                  <button type="button" id="updateName" class="btn btn-primary btn-block">Update</button><br>
                </form>
              </div>
			      </td>
            <td><button id="editToggleName" class="btn btn-primary glyphicon glyphicon-pencil"></button></td>
          </tr>
	
          <tr>
            <td>Email</td>
              <td id="profile-email">{{info.email}}
                <div class="toggleemail" > 
                  <form class="form-group">
                    <label class="control-label">Update E-mail:</label>
                    <br>
                    <input type="email" id="email" name="email" class="form-control updateEmailForm" placeholder="E-mail" requried>
                    <br>
                    <button type="button" id="updateEmail" class="btn btn-primary btn-block">Update</button><br>
                  </form>
                </div>
			        </td>
              <td><button id="editToggleEmail" class="btn btn-primary glyphicon glyphicon-pencil"></button></td>
          </tr>
		  
          <tr>
            <td>Change Password</td>
            <td>
              <form class="form-group">
                <div id="updatePassSuccess" class="alert alert-success ">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  Successfully updated password.
                </div>
                <input type="password" class="form-control" id="passwordOld" placeholder="Old Password" required>
                <br>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
                <br>
                <input type="password" class="form-control" id="confirm" placeholder="Re-enter Password" required>
                <br>
                <button type="button" id="updatePassword" class="btn btn-danger btn-block">Update</button>
              </form>
            </td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class = "tab-pane" id="enrolledClasses">
      <h4><span class="glyphicon glyphicon-tasks"></span> Enrolled Classes</h4>

      
      <table class="table table-hover classes">
        <thead>
          <th> 
             ID
          </th>
          <th> 
             Name
          </th>
          <th> 
             Section
          </th>
        </thead>
        <tbody>
        {{#each current_classes}}
        <tbody>
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{section}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>

      <h4><span class="glyphicon glyphicon-time"></span> Class History</h4>

      <table class="table table-hover classes">
        <thead>
          <th> 
             ID
          </th>
          <th> 
             Name
          </th>
          <th> 
             Section
          </th>
        </thead>
        {{#each previous_classes}}
        <tbody>
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{section}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>




  </div>
</div>

</div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/initializeMyProfile.js"></script>
  
</body

</html>
